.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #1e1717;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
    margin:10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #560c0c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #7c3a58;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  