.searchButton {
  border-radius: 8px;
  border-width: 2px;
  background-color: white;
  width: 230px;
}

.searchButton:hover {
  background-color: rgb(152, 130, 164);
  width: 240px;
}

.porTitle {
  text-align: center;
}

body {
}
