.searchButton {
  border-radius: 8px;
  border-width: 2px;
  background-color: white;
  width: 230px;
}

.searchButton:hover {
  background-color: rgb(152, 130, 164);
  width: 240px;
}

.porTitle {
  text-align: center;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.text {
  flex: 1;
  margin-right: 20px;
}

.image img {
  max-width: 150px;
  border-radius: 10px;
}
