* {
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(215, 202, 202);
}

.dark-mode * {
  background-color: black;
  padding: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
}

