<nav class="navbar navbar-expand-lg custom-navbar" style="padding: 37px">
  <a class="navbar-brand" routerLink="/">My Portfolio</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/ghadaabassi/"
          >LinkedIn</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/ghadaabassi">Github</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <button
      style="text-decoration: none"
      id="theme-toggle"
      class="btn btn-link"
      (click)="toggleTheme()"
    >
      <i
        id="theme-icon"
        [ngClass]="{ 'fa-moon': !darkMode, 'fa-sun': darkMode }"
      ></i
      >🌘🌞
    </button>
  </div>
</nav>
