<div>
  <header>
    <h1 class="porTitle">Welcome to My Portfolio</h1>
  </header>

  <main class="container">
    <section class="text">
      <h2>I am Ghada Abassi</h2>
      <h3>I am a Software Engineer</h3>
      <p>This is my portfolio. You will find all about me in here.</p>
      <button type="button" class="btn btn-primary">More About Me</button>
      <button type="button" class="btn btn-secondary">GitHub</button>
    </section>
    <section class="image">
      <img src="photo.png" alt="Ghada Abassi - Software Engineer" />
    </section>
  </main>
  <div style="overflow: hidden; padding: 4px">
    <h2>My Projects</h2>

    <section>
      <div class="row">
        <div
          class="col-lg-2 col-md-12 mb-4 mb-md-0"
          *ngFor="let project of projects"
        >
          <div data-mdb-ripple-init data-ripple-color="light">
            <a [href]="project.link" target="_blank" rel="noopener noreferrer">
              <img
                [src]="project.imageUrl"
                class="projImage"
                alt="{{ project.title }} image"
              />
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2)"
              ></div>
            </a>
            <p class="project-name">{{ project.title }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
