body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9f5f5;
  color: #333;
  overflow: hidden;
}

.porTitle {
  margin: 20px 0;
  text-align: center;
  font-size: 2.5rem;
  color: #4a4a4a;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  max-width: 900px;
}

.text {
  text-align: center;
  margin-bottom: 30px;
}

.text h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.text h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.text p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.image img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projImage {
  border: 6px solid rgb(0, 0, 0);
  background-color: #c3a3e5;
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-width: 2px;
  width: 210px;
  height: 200px;
  background-color: rgb(238, 199, 199);
  margin: 6px;
}

.projImage:hover {
  transform: scale(1.05);
  background-color: rgba(225, 65, 65, 0.5);
}

.btn-primary,
.btn-secondary {
  height: 45px;
  border-radius: 8px;
  margin: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
  background-color: #c3a3e5;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: scale(1.05);
}

.project-name {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.projeContainer {
  width: 16%;
  display: block;
  margin: 5px;
  padding: 2px;
  max-width: 90%;
}
