<div class="container">
  <h1 class="porTitle">Welcome to My Portfolio</h1>
  <div class="content-container">
    <section class="text">
      <h2>I am Ghada Abassi</h2>
      <h3>I am a Software Engineer</h3>
      <p>This is my portfolio. You will find all about me in here.</p>
      <button type="button" class="btn btn-primary">How Can I help You?</button>
    </section>
    <section class="image">
      <img src="photo.png" alt="Ghada Abassi" />
    </section>
  </div>

  <div>
    <h2 class="skills-title">Skills and Expertise</h2>
    <section class="skills">
      <div class="skills-content">
        <div class="skills-image">
          <img src="skills.png" alt="Skills Image" />
        </div>
        <div class="skills-grid">
          <div class="skill-item">
            <i class="fas fa-code"></i>
            <strong>Programming Languages:</strong>
            <p>Java, JavaScript, Python</p>
          </div>
          <div class="skill-item">
            <i class="fas fa-laptop-code"></i>
            <strong>Web Technologies:</strong>
            <p>HTML, CSS, Angular, Spring Boot</p>
          </div>
          <div class="skill-item">
            <i class="fas fa-database"></i>
            <strong>Database Management:</strong>
            <p>MySQL, PostgreSQL</p>
          </div>
          <div class="skill-item">
            <i class="fas fa-tools"></i>
            <strong>Tools & Platforms:</strong>
            <p>Git, Docker, Jenkins</p>
          </div>
          <div class="skill-item">
            <i class="fas fa-project-diagram"></i>
            <strong>Methodologies:</strong>
            <p>Agile, Scrum</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  

  <div>
    <h2>My Projects</h2>
    <section>
      <div class="row">
        <div
          class="col-lg-2 col-md-12 mb-4 mb-md-0"
          *ngFor="let project of projects"
        >
          <div>
            <a [href]="project.link" target="_blank" rel="noopener noreferrer">
              <img
                [src]="project.imageUrl"
                class="projImage"
                alt="{{ project.title }} image"
              />
            </a>
            <p class="project-name">{{ project.title }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
