<div class="container">
  <h1 class="porTitle">Welcome to My Portfolio</h1>
  <div class="content-container">
    <section class="text">
      <h2>I am Ghada Abassi</h2>
      <h3>I am a Software Engineer</h3>
      <p>This is my portfolio. You will find all about me in here.</p>
      <button type="button" class="btn btn-primary">How Can I help You?</button>
    </section>
    <section class="image">
      <img src="photo.png" alt="Ghada Abassi" />
    </section>
  </div>
  <div>
    <h2>My Projects</h2>
    <section>
      <div class="row">
        <div
          class="col-lg-2 col-md-12 mb-4 mb-md-0"
          *ngFor="let project of projects"
        >
          <div>
            <a [href]="project.link" target="_blank" rel="noopener noreferrer">
              <img
                [src]="project.imageUrl"
                class="projImage"
                alt="{{ project.title }} image"
              />
            </a>
            <p class="project-name">{{ project.title }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
