<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let blog of blogs">
    <div class="card">
      <img [src]="blog.imageUrl" class="card-img-top" alt="Blog Image" />
      <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text">{{ blog.content }}</p>
        <button class="btn btn-primary" (click)="navigate()">Sign Up</button>
        <button class="btn btn-primary" (click)="incrementValue()">
          ADD To Cart 🛒:
        </button>
        <button class="btn btn-primary" (click)="delete()">Delete</button>
        <p>Your Cart 🛒: {{ currentValue }}</p>
      </div>
    </div>
  </div>
</div>
