<div>
  <div>
    <h2 style="text-align: center; margin: 30px">New Pubs</h2>
    <section>
      <div class="row">
        <div class="col-lg-2 col-md-4 mb-4" *ngFor="let pub of pubs">
          <div class="pubDiv">
            <img [src]="pub.imageUrl" />
            <a [href]="pub.link" target="_blank" style="text-decoration: none">
              <p class="project-name">{{ pub.title }}</p>
              <p class="project-content">{{ pub.content }}</p>
            </a>
            <button class="btn btn-primary">Go</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
